@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
   background-color: rgb(221, 171, 236);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.container{

    width: 400px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #581b5a;
    font-size: 40px;
    font-weight: 600;
}
.container .text.first-text{
    color: white;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(221, 171, 236);
    border-left: 2px solid #581b5a;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}